.App {
  text-align: center;
  max-width: 700px;
  margin: 30px auto;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.student-form input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 4px;
  padding: 8px 10px;
}

.student-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
.student-table th,
.student-table td {
  padding: 8px;
}
