body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 80;
    background-color: #ffffff;
}

h1 {
    color: #333333;
    text-align: center;
}
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgb(255, 255, 255);
}
th, td {
    border: 1px solid #581616;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #8661a8;
    color: #f8f8f8;
}
tr:nth-child(even) {
    background-color: #f0f0f0;
}